<!doctype html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <title>Sadler - портфолио</title>
</head>
<body>
  <header>
    <div class="header-fluid">
      <nav class="header-navigation">
        <p>Савельев Роман</p>
        <div class="nav-links">
          <a href="#studing">Учёба</a>
          <a href="#achievments">Достижения</a>
          <a href="#communication">Связь</a>
        </div>
      </nav>
    </div>
  </header>
  <div class="content">
    <p>Привет! Меня зовут Савельев Роман, и я увлекаюсь программированием, инженерией и робототехникой.
      С 7 лет я занимаюсь робототехникой, участвую в турнирах и олимпиадах, учусь в лингвистическом 
      классе московской школы №1251 и продолжаю развиваться в области точных наук.
    </p>
    <h1>Интересные места</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Координаты</th>
                <th>Название</th>
                <th>Описание</th>
            </tr>
        </thead>
        <tbody>
            {% for place in places %}
            <tr>
                <td>{{ place[0] }}</td>
                <td>{{ place[1] }}</td>
                <td>{{ place[2] }}</td>
                <td>{{ place[3] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>

</body>
</html>